<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
  <strong>Age:</strong>
  <%= @dog.age %>
   <strong>Date Arrived:</strong>
  <%= @dog.dateArrived %>
</p>



<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
